<section class="intro">
  <div class="container">
    <!-- <p class="lead">Hi, I'm John Doe. I do stuffs with computer and sometimes write about it here. I'm from Penang, MY and I ship code at <a href="#">Microsoft</a>.</p> -->
    <p class="lead">
      My name is Ping Zhang. I am now a 2nd year thesis master student at UT Dallas, where I was fortunately supervised by <a href="https://sites.google.com/view/rishabhiyer">Prof. Rishabh Iyer</a>.
      My current project focuses on Human-Centric Machine Learning, Social Network and Submodular Optimization.
    </p>
    <p class="lead">
      More <a href="/about">about me<a/>.
    </p>
  </div>
</section>
<style>
  p {text-indent:1em;}
</style>
